<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>Clientes</h1>
</div>

<div class="col-md-10">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Celular</th>
        <th>Embarcação</th>
        <th>Vencimento do Seguro</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <% @ship = customer.ships.last %>
        <tr class=<%= customer.id %>>
          <td><%= link_to customer.name, customer %></td>
          <td><%= customer.cellphone %></td>
          <% if @ship %>
            <td><%= link_to @ship.name, @ship  %></td>
            <td><%= @ship.insurance_due_date %>
          <% else %>
            <td></td><td></td>
          <% end %>
          <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<p>
  <button type="button" class="btn btn-default">
    <%= link_to 'Criar novo cliente', new_customer_path %>
  </button>
</p>
