<p id="notice"><%= notice %></p>

<div class='page-header'>
  <h1><%= @company.name %></h1>
</div>

<div class="row">
        <div class="col-md-6">
          <table class="table">
            <tbody>
              <tr>
                <% @company.attributes.each do |attr| %>
                  <tr>
                    <td><b><%= attr.first %></b><td>
                    <td><%= attr.last %></td>
                  </tr>
                <% end %>
                <% @company.ships.each do |ship| %>
                  <tr>
                    <td><b>Embarcação</b></td>
                    <td><%= link_to ship.name, ship %><td>
                  </tr>
                <% end %>
            </tbody>
          </table>
        </div>

<p>
  <button type="button" class="btn btn-default">
    <%= link_to 'Editar', edit_company_path(@company) %>
  </button>
</p>
<p>
  <button type="button" class="btn btn-default">
    <%= link_to 'Ir para a lista de empresas', companies_path %>
  </button>
</p>
