<p id="notice"><%= notice %></p>

<h1>Listing Ships</h1>

<div class="col-md-10">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Número de Inscrição</th>
        <th>Vencimento do Seguro</th>
        <th>Vencimento do documento</th>
        <th>Cliente</th>
      </tr>
    </thead>

    <tbody>
      <% @ships.each do |ship| %>
        <tr>
          <td><%= link_to ship.name, ship %></td>
          <td><%= ship.kind %></td>
          <td><%= ship.registration_number %></td>
          <td><%= ship.insurance_due_date %></td>
          <td><%= ship.registration_due_date %></td>
          <td><%= link_to ship.customer.name, ship.customer %>
          <td><%= link_to 'Editar', edit_ship_path(ship) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>