<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @ship.name %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @ship.kind %>
</p>

<p>
  <strong>Número de inscrição:</strong>
  <%= @ship.registration_number %>
</p>

<p>
  <strong>Data de vencimento do seguro:</strong>
  <%= @ship.insurance_due_date %>
</p>

<p>
  <strong>Data de vencimento do documento:</strong>
  <%= @ship.registration_due_date %>
</p>
  
<p>
  <strong>Cliente:</strong>
  <%= @ship.customer.name %>
</p>


<%= link_to 'Editar', edit_ship_path(@ship) %> |
<%= link_to 'Ir para a lista de embarcações', ships_path %>
<%= link_to 'Ir para a lista de clientes', customers_path %>
